<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6912d7a0-bc28-459a-9407-33bbba641c07/resourceGroups/app-grp/providers/Microsoft.Web/sites/sqlapp203040</ResourceId>
    <ResourceGroup>app-grp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sqlapp203040.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>27bfeb15-a480-49cb-b43f-6c1c107c3990</ProjectGuid>
    <PublishUrl>https://sqlapp203040.scm.azurewebsites.net/</PublishUrl>
    <UserName>$sqlapp203040</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>