<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/30f8ae40-545e-4e3f-b407-c03d1b359627/resourceGroups/fnapp34_group/providers/Microsoft.Web/sites/fnapp34</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fnapp34.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fnapp34.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$fnapp34</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>