@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
     <h1 class="display-4">Displaying Contents of the file</h1>
    @Model.blobContent
</div>
