@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
     <h1 class="display-4">Displaying Access Token</h1>
    @Model.accessToken
</div>
